<h3>User</h3>
<p>User: <%= @user.name %></p>
<%= image_tag(avatar_image_url(@user), :alt => @user.name)  %>
<h5><%= @user.campaign_strips.length %> </h5>
<%= render("users/user_strips", {:user => @users}) %>