<div id="parallax">
  <div class="photo photobooth" data-stellar-background-ratio="0.5">
    <div>
      <h3>About Hearno</h3>
      <div class="highlight">
        <p>Hearno is a photobooth app where users can build a photostrip showing their expressions of the phrase, "see no evil, hear no evil, speak no evil." See more about the origins of the phrase in <a href="http://en.wikipedia.org/wiki/See_no_evil,_hear_no_evil,_speak_no_evil">Three wise monkeys on wikipedia</a>. The phrase means different things to many, and we find it interesting how people interpret it and apply it to their lives.
        </p>
        <blockquote class="pull-right">Just as there is disagreement about the origin of the phrase, there are differing explanations of the meaning of "see no evil, hear no evil, speak no evil."
          <ul>
            <li>In Buddhist tradition, the tenets of the proverb are about not dwelling on evil thoughts.</li>
            <li>In the Western world both the proverb and the image are often used to refer to a lack of moral responsibility on the part of people who refuse to acknowledge impropriety, looking the other way or feigning ignorance.</li>
            <li>It may also signify a code of silence in gangs, or organised crime.</li>
          </ul>
          <small><a href="http://en.wikipedia.org/wiki/See_no_evil,_hear_no_evil,_speak_no_evil"><cite title="wikipedia article">Wikipedia</cite></a></small>
        </blockquote>
        <p>
Given we are from the western world, we identify with the second explanation, which often is used to describe censoring information in a effort to, "look the other way." It is something both governments and <a href="http://www.cnsnews.com/sites/default/files/images/billboards%20%203_0.jpg?1361338873">media</a> are often accused of. The phrase evokes images of censorship and restricting access to information, it has even been used to encourage <a href="http://en.wikipedia.org/wiki/File:Oak_Ridge_Wise_Monkeys.jpg">secrecy of government employees</a>.
        </p>
        <p>Hearno believes having the facts and trustable data is necessary for a true democracy. We believe that trying to censor information because we want to "speak no evil" or others want to avoid uncomfortable truths and "hear no evil" is a disservice to the people. A short sighted policy that restricts freedom people and can be ripe for abuse.
        </p>
        <p>Which is why Hearno wants to spread peoples expressions of the phrase and bring more attention to the cause of censorship around the world. The site has shares information about various organizations fighting censorship in the US or around the world. Hearno doesn't directly take donations, but promote groups that do which we support. Make a photo strip depicting youself, friends, objects, organizations, or anything that represents the phase "see no evil, hear no evil, speak no evil." Then share the strips via email and social networks to spread the word, and make others reflect on what "see no evil, hear no evil, speak no evil" means to them.
          <br/><br/>
          --The Hearno Team
        </p>
      </div>
      <small class="attribution">background photo by, <a href="http://www.flickr.com/photos/flygraphix/">flygraphix</a></small>
    </div>
  </div>
  <div class="photo charities-donations" data-stellar-background-ratio="0.5">
    <div>
      <h3>Charities We Recommend</h3>
      <div class="highlight">
        <p>This site can help spread the word a bit, and raise awareness.
        Hearno isn't intended to do more, but <strong>you can</strong>.
        <br/>
        The Hearno team wanted to share some of our favorite organizations.
        If your interested in getting more involved in the cause check out some of our favorite charities.
        Many have both volunteer or donation opertunies and provide a wealth of information<br/><br/>

        <ul>
          <li><a href="http://eff.org">EFF</a></li>
          <li><a href="http://aclu.org">ACLU<a/></li>
          <li><a href="https://pressfreedomfoundation.org/">Freedom of the Press Foundation</a></li>
          <li><a href="http://en.rsf.org/">Reporters Without Borders</a></li>
	  <li><a href="http://www.amnesty.org/">Amnesty International</a></li>
	  <li><a href="http://www.derechos.org/">Derechos Humanos</a></li>
	  <li><a href="http://www.hrw.org/">Human Rights Watch</a></li>
	  <li><a href="http://www.article19.org/">Article 19</a></li>
        </ul>
        </p>
      </div>
      <small class="attribution">background photo by, <a href="http://www.flickr.com/photos/danmayer/">danmayer</a></small>
    </div>
  </div>
  <div class="photo code-editor" data-stellar-background-ratio="0.5">
    <div>
      <h3>Created By</h3>
      <div class="highlight">
        <p>
        Hearno was an idea for a side project long ago.
        It seemed like photostrips could be a fun way to bring attention to social issues.
        The project never got off the ground until a group of friends who wanted to learn web programming.
        Hearno seemed like a great application to build while teaching the basics of web programming.
        We started with some basics and are slowly working towards more complex aspects of building webapplications.
        Hearno is built on Ruby on Rails, uses coffeescript, SASS, S3, and other technologies.
        If you are interested in learning more about the project or helping out, 
        <a href="http://github.com/danmayer/hearno">Hearno is Open Source</a> and available on github.
        <br/><br/>
        Hearno has turned out to be a fun way to learn/teach development while building something interesting to share with the community.
        <br/><br/>

          <strong>--The Hearno Team</strong>
          <ul>
            <% @creator.each do |creator| %>
              <li><%= creator %></li>
            <% end %>
          </ul>
        </p>
      </div>
      <small class="attribution">background photo by, <a href="http://www.flickr.com/photos/riebart/">riebart</a></small>
    </div>
  </div>
</div>
