/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a.brand {
 &:hover {
  background-color: #eee;
  }
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.lb-outerContainer {
    max-width: 720px; 
    max-height: 720px;
}
.lb-dataContainer {
    max-width: 220px; /* For the text below image */
}

#parallax {
   padding:0px;
   margin-left: -20px;
   margin-right: -20px;
   margin-top:-10px;
   margin-bottom:-20px;
 
   ul {
     line-height: 14px;
   }
   ul li {
     line-height: 16px;
   }
 	  
 	.photo {
 		background-attachment: fixed;
 		background-position: 50% 0;
 		background-repeat: no-repeat;
 		height: 450px;
 		position: relative;
 	}
 	.photo div {
		color: white;
 		display: block;
 		left: 50%;
 		margin-left: -640px;
 		padding: 10px;
 		position: absolute;
 		text-shadow: 0 2px 0 black, 0 0 10px black;
 		width: 1280px;
  		padding-left: 50px;
 		padding-right: 50px;
		padding-top:12px;

          a {
		color: white;
 	  }
	  
          h3 {
                text-align: center;
   	        margin:0px;
 		font-size: 38px;
 	  }
	
          .highlight {
            background-color:rgba(0,0,0,0.6);
 	    border-radius: 6px 6px 6px 6px;
	    margin-left: auto;
	    margin-right: auto;
	    position: static;
	    width: 98%;
	    padding: 6px;
	    padding-top: 3px;
	    padding-bottom: 3px;
	  
	    p {
	      margin-top: 8px;
	      margin-bottom: 8px;
	    }

    	    blockquote {
	      margin-top: 5px;
	      margin-bottom: 5px;
	    }
          }

          small.attribution {
            float:right;
	  }

        }

 	.photobooth {
 		background-image: image-url('photo_booth_images.jpg');
		height: 540px;
 	}
 	.charities-donations {
 		background-image: image-url('charities_donations.jpg');
 	}
 	.code-editor {
 		background-image: image-url('code_editor.jpg');
 	}
 }

footer {
background-color: #eee;
padding-left: 20px;	
padding-top: 12px;
       height: 50px;
       left: 0;
       position: absolute;
       right: 0;
      }

footer .container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
